In [21]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [22]:
book=pd.read_csv('book1.csv',encoding='latin1')
book

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried: Adventures of a Happy Eater.,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt: A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

In [23]:
len(book['User.ID'].unique())

2182

In [24]:
len(book['Book.Title'].unique())

9659

In [27]:
book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   10000 non-null  int64
 1   User.ID      10000 non-null  int64
 2   Book.Title   10000 non-null  object
 3   Book.Rating  10000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 312.6+ KB

In [29]:
book =book.sort_values(by=['User.ID'])

In [30]:
 book

,Unnamed: 0,User.ID,Book.Title,Book.Rating
2401,2402,8,Wings,5
2400,2401,8,The Western way: A practical guide to the West...,5
2399,2400,8,Ancient Celtic Romances,5
2402,2403,8,Truckers,5
2405,2406,8,The Art Of Celtia,7
...,...,...,...,...
2395,2396,278854,La crÃ³nica del PerÃº (CrÃ³nicas de AmÃ©rica),7
2398,2399,278854,Celtic Mythology (Library of the World's Myths...,8
2393,2394,278854,A corrente de Trewis Scott,7
2394,2395,278854,As valkÃ­rias,7
2397,2398,278854,"A Treasury of Irish Myth, Legend, and Folklore",6

In [31]:
book=book.iloc[:,1:]
book

      User.ID                                         Book.Title  Book.Rating
2401        8                                              Wings            5
2400        8  The Western way: A practical guide to the West...            5
2399        8                            Ancient Celtic Romances            5
2402        8                                           Truckers            5
2405        8                                  The Art Of Celtia            7
...       ...                                                ...          ...
2395   278854      La crÃ³nica del PerÃº (CrÃ³nicas de AmÃ©rica)            7
2398   278854  Celtic Mythology (Library of the World's Myths...            8
2393   278854                         A corrente de Trewis Scott            7
2394   278854                                      As valkÃ­rias            7
2397   278854     A Treasury of Irish Myth, Legend, and Folklore            6

[10000 rows x 3 columns]

In [33]:
book_matrix = book.pivot_table(index='User.ID',columns='Book.Title',values='Book.Rating').reset_index(drop=True)

In [35]:
book_matrix.index=book['User.ID'].unique()

In [36]:
book_matrix.fillna(0,inplace=True)

In [37]:
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine

In [38]:
user_sim=1-pairwise_distances(book_matrix.values,metric='cosine')

In [39]:
user_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [40]:
user_sim_df=pd.DataFrame(user_sim)

In [41]:
user_sim_df.index=book['User.ID'].unique()
user_sim_df.columns=book['User.ID'].unique()
user_sim_df.iloc[:5,:5]

     8    9    10   12   14
8   1.0  0.0  0.0  0.0  0.0
9   0.0  1.0  0.0  0.0  0.0
10  0.0  0.0  1.0  0.0  0.0
12  0.0  0.0  0.0  1.0  0.0
14  0.0  0.0  0.0  0.0  1.0

In [47]:
np.fill_diagonal(user_sim,0)
user_sim_df.iloc[:,:]

,8,9,10,12,14,16,17,19,22,26,...,278831,278832,278836,278843,278844,278846,278849,278851,278852,278854
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278851,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
user_sim_df.idxmax(axis=1)[:20]

8          8
9          8
10         8
12         8
14         8
16         8
17         8
19    278418
22         8
26         8
32         8
39         8
42         8
44         8
51      3757
53      1996
56         8
64         8
67         8
69         8
dtype: int64

In [61]:
readers = book[(book['User.ID']==19) | (book['User.ID']==278418)]
readers

      User.ID                                         Book.Title  Book.Rating
2417       19                                    The Murder Book            7
1982   278418                                      City of Bones            7
1992   278418                                      Absolute Zero            5
1983   278418                                          Lucky You            5
1984   278418                                          CAT'S EYE            4
...       ...                                                ...          ...
1936   278418  The Mad Dog 100 : The Greatest Sports Argument...            6
1935   278418                              Tommy's Tale: A Novel            7
1934   278418                           The Passion of Artemisia            5
1960   278418  Washington's Dirigible (Timeline Wars/John Bar...            9
1961   278418  The Shelters of Stone (Earth's Children Series...            5

[118 rows x 3 columns]

In [62]:
reader1=book[(book['User.ID']==19)]
reader1

      User.ID       Book.Title  Book.Rating
2417       19  The Murder Book            7

In [63]:
reader2=book[(book['User.ID']==278418)]
reader2

      User.ID                                         Book.Title  Book.Rating
1982   278418                                      City of Bones            7
1992   278418                                      Absolute Zero            5
1983   278418                                          Lucky You            5
1984   278418                                          CAT'S EYE            4
1985   278418                                The Handmaid's Tale            5
...       ...                                                ...          ...
1936   278418  The Mad Dog 100 : The Greatest Sports Argument...            6
1935   278418                              Tommy's Tale: A Novel            7
1934   278418                           The Passion of Artemisia            5
1960   278418  Washington's Dirigible (Timeline Wars/John Bar...            9
1961   278418  The Shelters of Stone (Earth's Children Series...            5

[117 rows x 3 columns]

In [64]:
pd.merge(reader1,reader2,on='Book.Title',how='outer')

,User.ID_x,Book.Title,Book.Rating_x,User.ID_y,Book.Rating_y
0,19.0,The Murder Book,7.0,278418,6
1,NaN,City of Bones,NaN,278418,7
2,NaN,Absolute Zero,NaN,278418,5
3,NaN,Lucky You,NaN,278418,5
4,NaN,CAT'S EYE,NaN,278418,4
...,...,...,...,...,...
112,NaN,The Mad Dog 100 : The Greatest Sports Argument...,NaN,278418,6
113,NaN,Tommy's Tale: A Novel,NaN,278418,7
114,NaN,The Passion of Artemisia,NaN,278418,5
115,NaN,Washington's Dirigible (Timeline Wars/John Bar...,NaN,278418,9
116,NaN,The Shelters of Stone (Earth's Children Series...,NaN,278418,5